.container {
    position: relative;
}
.responsive {
  width: 100%;
  height: auto;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right:20px;
    background: rgba(0, 0, 0, 0.5);
    color:white;
    padding: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}